<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>107522890096-a77u757u1pmr9cuq5btbdbsrrvq0h6kg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.107522890096-a77u757u1pmr9cuq5btbdbsrrvq0h6kg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>107522890096-fqshri1q4fpj5nr6pn80eljltd0ia9kk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCI4o-aUhfxUXl_T54-OZLz2h8W7Wcoi5s</string>
	<key>GCM_SENDER_ID</key>
	<string>107522890096</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lambdaschool.mneme-labs</string>
	<key>PROJECT_ID</key>
	<string>flashcards-bbd42</string>
	<key>STORAGE_BUCKET</key>
	<string>flashcards-bbd42.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:107522890096:ios:7935cf87ae03f8894d17b5</string>
	<key>DATABASE_URL</key>
	<string>https://flashcards-bbd42.firebaseio.com</string>
</dict>
</plist>